/** colors **/
.offwhite-bg {
  background-color: #f3f3f3;
}
.spotify-green {
  /* background: #1eb954; */
  background: #1e1e1e;
}

.hashtag-color {
  /* background-color: #ff4f5b; */
  background-color: #da2d2d;
}

.white-text {
  color: white;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.full-height {
  height: 100vh;
}

.min-full-height {
  min-height: 100vh;
}

.heavier {
  font-weight: bolder;
}
.heaviest {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.margin-top-header {
  margin-top: 1em;
}

.margin-top-five {
  margin-top: 5vh;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-right {
  margin-right: auto;
}

.margin-left {
  margin-left: auto;
}

.recipe-splash-title-box {
  /* background-color: #ff8e96; */
  background-color: #da2d2d;
  color: white;
  text-align: left;
  padding: 23px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  border-radius: 6px;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
}

.play-circle-link {
  padding: 25px;
  border-radius: 50%;
  /* background-color: #ff4f5a; */
  background-color: #9d0b0b;
  margin-left: 1em;
  margin-right: 1em;
}

.fancy-box {
  border-radius: 6px;
  letter-spacing: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 40px 25px;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.fancy-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fancy-box p {
  margin-bottom: 0;
  font-size: 21px;
}
.fancy-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.fancy-box-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.fancy-box-link:hover {
  color: white;
  text-decoration: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fancy-box-link p {
  margin-bottom: 0;
}

.smaller-font {
  font-size: 1em !important;
  margin-top: 1em;
}

.recipe-step-image {
  object-fit: cover;
  width: 100%;
  max-height: 40vh;
  object-position: center;
  margin-bottom: 1em;
  border-radius: 6px;
}

.step-completed {
  background-color: #da2d2d;
  text-align: center;
  padding: 40px 25px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-completed p {
  margin-bottom: 0;
}

.step-completed:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* landing page */
.nav-bar {
  height: 8vh;
  width: 100vw;
  background-color: rgb(32, 33, 36, 0.45);
  top: 0;
  z-index: 1;
  position: absolute;
  padding: 0px 30px;
  color: white;
}
.nav-bar-inline {
  height: 8vh;
  width: 100vw;
  background-color: rgb(32, 33, 36, 0.45);
  top: 0;
  z-index: 1;
  position: inline;
  padding: 0px 30px;
  color: white;
}

.landing-main {
  height: 70vh;
  color: white;
  background-size: cover;
  background-position: center;
  /* background-blend-mode: multiply; */
}

.overlap {
  margin-top: -5rem;
}

.overlap-item {
  color: white;
  padding: 20px 25px;
  height: 25vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 5vh;
  border-radius: 6px;
  /* 
  background-image: linear-gradient(
      269deg,
      rgba(86, 86, 86, 0.5) 0%,
      rgba(86, 86, 86, 0.5) 100%
    ),
    url("https://images.unsplash.com/photo-1515516969-d4008cc6241a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3265&q=80"); */
  background-size: cover;
  background-position: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.overlap-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.overlap-item-description {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* forms */
.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-top: 10px;
  margin-bottom: 20px;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.fieldTA {
  width: 100%;
  height: 86px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-top: 10px;
  margin-bottom: 20px;
}
.fieldTA textarea {
  width: 100%;
  height: 86px;
  position: relative;
  padding: 16px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}
.field input::-webkit-input-placeholder {
  color: black;
  opacity: 0.29;
}
.field input::-moz-placeholder {
  color: black;
  opacity: 0.29;
}
.field input:-ms-input-placeholder {
  color: black;
  opacity: 0.29;
}
.field input:-moz-placeholder {
  color: black;
  opacity: 0.29;
}

.plus-minus-button {
  margin-right: 10px;
}

.field-label {
  margin-bottom: 0;
}

.recipe-form {
  padding-bottom: 10vh;
}
